In [1]:
print("Hello Python")

Hello Python

In [2]:
print(3)

3

In [4]:
age = 21
name = "akash"
cgpa = 9.1

In [7]:
print(age)
print(type(age))
print(name)
print(type(name))
print(cgpa)
print(type(cgpa))

21
<class 'int'>
akash
<class 'str'>
9.1
<class 'float'>

In [6]:
is_student = True
print(is_student)

True

Type Casting

In [8]:
a = 5
b = "5"

print(a)
print(b)

5
5

In [9]:
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [10]:
# convert string to integer

c= int(b)
print(c)
print(type(c))

5
<class 'int'>

In [11]:
# converting integer to string

d = str(a)
print(d)
print(type(d))

5
<class 'str'>

In [12]:
x = 9
y = 4.5

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [13]:
# convert integer to float
z = float(x)
print(z)

9.0

In [14]:
# convert float to integer
w = int(y)
print(w)
print(type(w))

4
<class 'int'>

TAKING INPUT

In [ ]:
name = input("Enter your name:")
age = int(input("Enter your age:"))
print(f"Hello {name}, your age is {age}") # f-string

Hello Akash, your age is 20

Escape sequences

In [ ]:
print("HOW ARE YOU \nI AM FINE")

HOW ARE YOU
I AM FINE

In [ ]:
#escape sequences
print("This is a backslash: \\") # to print a backslash
print("He said, \"Hello!\"") # to print double quotes
print('It\'s a sunny day.') # to print single quote
print("Hello\tWorld") # tab space
print("Hello \" World") # double quotes within a string

This is a backslash: \
He said, "Hello!"
It's a sunny day.
Hello	World
Hello " World

operators in python

In [27]:
# arithmetic operators

a = 10
b = 3
print("Add:", a + b)
print("Sub:", a - b)
print("Multip:", a * b)
print("Div:", a / b)
print("Floor Div:", a // b)
print("Modulus:", a % b)
print("Exp:", a ** b)

Add: 13
Sub: 7
Multip: 30
Div: 3.3333333333333335
Floor Div: 3
Modulus: 1
Exp: 1000

In [28]:
# comparison operators

x = 5
y = 10
print("Equal:", x == y)
print("Not Equal:", x != y)
print("Greater than:", x > y)
print("Less than:", x < y)
print("Greater than or equal to:", x >= y)
print("Less than or equal to:", x <= y)

Equal: False
Not Equal: True
Greater than: False
Less than: True
Greater than or equal to: False
Less than or equal to: True

In [32]:
# logical operators



# AND operator
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [33]:
# OR operator
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [34]:
# Not operator
print(not True)
print(not False)

False
True

In [35]:
# ex logical operators
print(5>3  and 10>5)
print(5>3  or 10<5)
print(not(5>3))

True
True
False